<a href="https://colab.research.google.com/github/Eswa2020/moringa_school_projects/blob/master/Esther_Wairimu_Kamau_Independent_project_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Specifying the problem statement

 The goal of this project is to demonstrate the concept of hypothesis testing by investigating a claim about blue cars using a dataset from an electric car sharing service company called Autolib. More specifically, we will be comparing the blue car usage rates in  France since Autolib was an electric car sharing service inaugurated in Paris.
We will be using the Autolib dataset to perform Univariate and Bivariate Analysis for Paris and Hauts-de-Seine, which are two main French cities. Below are the specific hypotheses of interest for this analysis:

> Null Hypothesis: For both Paris and Hauts-de-Seine the average number of blue cars picked up during weekends is the same.

>> Ho : μ1 = μ2

> Alternative Hypothesis: The average number of blue cars picked up during the weekend is different for Paris and Hauts-de-Seine.

>> Ha : μ1 ≠ μ2

# Metrics for Success

our project will be a success when we are able to achieve the following:

>*   Specify the null and alternative hypothesis.
>*   Perform EDA(Exploratory Data Analysis) to uncover trends within the dataset.
>*   Perform hypothesis testing and interpret the results.
>*   Give summaries and conclusions.

# Data Understanding

>Autolib' was an electric car sharing service which was inaugurated in Paris, France, in December 2011. It closed on July 31st 2018.It was operated by the Bolloré industrial group. The Autolib' scheme maintained a fleet of all-electric Bolloré Bluecars for public use on a paid subscription basis, employing a citywide network of parking and charging stations.As of 3 July 2016, 3,980 Bluecars had been registered for the service, and the scheme had more than 126,900 registered subscribers.Autolib' furthermore offered 1,084 electric car stations in Paris agglomeration with 5,935 charging points.

>Since beginning operations in Paris, Autolib' expanded its business to the cities of Lyon and Bordeaux.Bolloré also signed deals to begin operating offshoots of Autolib' in London and Indianapolis in 2015,Turin in 2016 and Singapore in 2017.

> Autolib was in France that was operational between 2011 and 2018. The company had three types of electric cars i.e blue cars, Utilib cars and Utilib 1.4 cars. Blue cars were most popularly used. 

>Bluecars were available in different postal codes in France and renters could pick up cars in one station then drop them off at a different station that was closer to their destination.

> The dataset contains information for different postal codes for 6 months i.e.between January 2018 and June 2018.

# Steps for undertaking Experimental Design

> Below are the steps that will be conducted in this analysis in order to meet our projects expectations :


>*   Load data and check on the characteristics of the dataset
>*   Perform Data cleaning (check for and deal with outliers, anomalies,duplicates,null and missing data)
>*   Perform univariate and bivariate analysis
>*   Specify the null and alternative hypotheses
>*   Explain the sampling method 
>*   Perform hypothesis testing
>*   Discuss the hypothesis test results
>*   Provide project summary and conclusion
>*   Challenge our solution by providing insights on how we can make improvements.

# Appropriateness of Dataset

>The dataset to use for this project can be found here [http://bit.ly/DSCoreAutolibDataset]

>The provided dataset is a daily aggregation, by date and postal code, of the number of events on the Autolib network for Bluecar,utilib and utilib 14 cars

# Importing Libraries

In [41]:
# Importing Pandas
# 
import pandas as pd
import pandas_profiling as pp

In [ ]:
#Importing Numpy
import numpy as np

In [ ]:
#Importing Seaborn
import seaborn as sns

In [ ]:
#Importing Matplotlib
import matplotlib.pyplot as plt

In [39]:
#importing scipy
from scipy import stats

from scipy.stats import norm

from scipy.stats import t

import math

from scipy.stats import ttest_ind

from statsmodels.stats import weightstats as stests

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#loading our datasets
#variable_definitions
autolib_def2=pd.read_csv('columns_explanation(7)')
autolib_def2.head(7)

FileNotFoundError: ignored

In [ ]:
#Loading our dataset from a url
iris_df = pd.read_csv("http://bit.ly/IrisDataset")

# Previewing our dataset
iris_df.head()

In [ ]:
#loading our datasets
#variable_definitions
autolib_def=pd.read_csv('http://bit.ly/DSCoreAutolibDataset')
autolib_def.head(5)

   Postal code      date  ...  Slots_freed_sum  Slots_taken_sum
0        75001  1/1/2018  ...               22               20
1        75001  1/2/2018  ...               23               22
2        75001  1/3/2018  ...               27               27
3        75001  1/4/2018  ...               25               21
4        75001  1/5/2018  ...               18               20

[5 rows x 13 columns]

In [ ]:
autolib_def.tail(5)

       Postal code       date  ...  Slots_freed_sum  Slots_taken_sum
16080        95880  6/15/2018  ...                0                0
16081        95880  6/16/2018  ...                0                0
16082        95880  6/17/2018  ...                0                0
16083        95880  6/18/2018  ...                0                0
16084        95880  6/19/2018  ...                0                0

[5 rows x 13 columns]

In [ ]:
#getting to know the number of columns and rows in the data set
autolib_def.shape

(16085, 13)

In [45]:
# lets get the information in the data 
autolib_def.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16085 entries, 0 to 16084
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Postal code             16085 non-null  int64
 1   date                    16085 non-null  object
 2   n_daily_data_points     16085 non-null  int64
 3   dayOfWeek               16085 non-null  int64
 4   day_type                16085 non-null  object
 5   BlueCars_taken_sum      16085 non-null  int64
 6   BlueCars_returned_sum   16085 non-null  int64
 7   Utilib_taken_sum        16085 non-null  int64
 8   Utilib_returned_sum     16085 non-null  int64
 9   Utilib_14_taken_sum     16085 non-null  int64
 10  Utilib_14_returned_sum  16085 non-null  int64
 11  Slots_freed_sum         16085 non-null  int64
 12  Slots_taken_sum         16085 non-null  int64
dtypes: int64(11), object(2)
memory usage: 1.6+ MB

In [ ]:
autolib_def.describe

<bound method NDFrame.describe of        Postal code       date  ...  Slots_freed_sum  Slots_taken_sum
0            75001   1/1/2018  ...               22               20
1            75001   1/2/2018  ...               23               22
2            75001   1/3/2018  ...               27               27
3            75001   1/4/2018  ...               25               21
4            75001   1/5/2018  ...               18               20
...            ...        ...  ...              ...              ...
16080        95880  6/15/2018  ...                0                0
16081        95880  6/16/2018  ...                0                0
16082        95880  6/17/2018  ...                0                0
16083        95880  6/18/2018  ...                0                0
16084        95880  6/19/2018  ...                0                0

[16085 rows x 13 columns]>

In [ ]:
#checking for null columns
autolib_def.isnull().sum()

Postal code               0
date                      0
n_daily_data_points       0
dayOfWeek                 0
day_type                  0
BlueCars_taken_sum        0
BlueCars_returned_sum     0
Utilib_taken_sum          0
Utilib_returned_sum       0
Utilib_14_taken_sum       0
Utilib_14_returned_sum    0
Slots_freed_sum           0
Slots_taken_sum           0
dtype: int64

In [47]:
autolib_def.Postal code.unique()

SyntaxError: ignored

In [ ]:
#checking for not null columns
autolib_def.notnull().sum()

Postal code               16085
date                      16085
n_daily_data_points       16085
dayOfWeek                 16085
day_type                  16085
BlueCars_taken_sum        16085
BlueCars_returned_sum     16085
Utilib_taken_sum          16085
Utilib_returned_sum       16085
Utilib_14_taken_sum       16085
Utilib_14_returned_sum    16085
Slots_freed_sum           16085
Slots_taken_sum           16085
dtype: int64

In [ ]:
#check if there are duplicates
autolib_def.duplicated().sum()
#there are no duplicates in our dataset

0

In [ ]:
#Getting to know more about the dataset by accessing its information

autolib_def.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16085 entries, 0 to 16084
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Postal code             16085 non-null  int64
 1   date                    16085 non-null  object
 2   n_daily_data_points     16085 non-null  int64
 3   dayOfWeek               16085 non-null  int64
 4   day_type                16085 non-null  object
 5   BlueCars_taken_sum      16085 non-null  int64
 6   BlueCars_returned_sum   16085 non-null  int64
 7   Utilib_taken_sum        16085 non-null  int64
 8   Utilib_returned_sum     16085 non-null  int64
 9   Utilib_14_taken_sum     16085 non-null  int64
 10  Utilib_14_returned_sum  16085 non-null  int64
 11  Slots_freed_sum         16085 non-null  int64
 12  Slots_taken_sum         16085 non-null  int64
dtypes: int64(11), object(2)
memory usage: 1.6+ MB

In [ ]:
autolib_def['BlueCars_taken_sum'].sum()

2025535

In [ ]:
autolib_def['BlueCars_returned_sum'].sum()

2025306

In [ ]:
autolib_def['Utilib_taken_sum'].sum()

59487

In [ ]:
autolib_def.columns

Index(['Postal code', 'date', 'n_daily_data_points', 'dayOfWeek', 'day_type',
       'BlueCars_taken_sum', 'BlueCars_returned_sum', 'Utilib_taken_sum',
       'Utilib_returned_sum', 'Utilib_14_taken_sum', 'Utilib_14_returned_sum',
       'Slots_freed_sum', 'Slots_taken_sum'],
      dtype='object')

In [ ]:
#code for dropping columns
df.drop(to_drop, inplace=True, axis=1)

In [ ]:
# Data Cleaning Action: checking for outliers using IQR Scores


Q1 = autolib_def.quantile(0.25)
Q3 = autolib_def.quantile(0.75)

IQR = Q3 - Q1

(autolib_def < (Q1 - 1.5 * IQR)) |(autolib_def> (Q3 + 1.5 * IQR))

       BlueCars_returned_sum  BlueCars_taken_sum  ...  day_type  n_daily_data_points
0                      False               False  ...     False                False
1                      False               False  ...     False                False
2                      False               False  ...     False                False
3                      False               False  ...     False                 True
4                      False               False  ...     False                False
...                      ...                 ...  ...       ...                  ...
16080                  False               False  ...     False                False
16081                  False               False  ...     False                False
16082                  False               False  ...     False                False
16083                  False               False  ...     False                False
16084                  False               False  ...     False                 True

[16085 rows x 13 columns]